/* Settings tab content */
#ags-xoiwc-settings-tabs-content {
  box-shadow       : $boxShadow;
  background-color : #F9FAFB;
  padding          : 45px 28px 45px;
  min-height       : 300px;
  border-radius: 0 0 16px 16px;

  p {
    margin-bottom: 35px;
    }

  & > div[id^="ags-xoiwc-settings"] {
    display : none;
    }

  & > .ags-xoiwc-settings-active {
    display : block !important;
    margin-bottom: 30px;
    }
  }