/*
 * 11.1 - Settings Tabs
 */

#ags-xoiwc-settings-tabs {
  margin           : 0;
  background-color : #fff;
  overflow         : hidden;
  border-top: 1px solid $middleBorderColor;
  border-bottom: 1px solid $middleBorderColor;
  padding-left: 10px;

  li {
    margin      : 0;
    float       : left;
    display     : inline-block;
    font-weight : 500;

    font-size   : 13px;

    @media (max-width : 600px) {
      float     : none;
      display   : block;
      font-size : 13px;
      }

    a {
      background-color   : transparent;
      color              : $dsDarkPurple;
      cursor             : pointer;
      padding            : 13px 16px !important;
      outline            : none;
      text-decoration    : none;
      -webkit-transition : all ease-in 0.3s;
      transition         : all ease-in 0.3s;
      box-shadow         : none;
      display            : block;
      letter-spacing     : 0.29px;

      &:hover {
        color            : $mainColor;
        }
      }

    &.ags-xoiwc-settings-active a {
      opacity          : 1;
      color            : $mainColor;
      border-bottom: 1px solid $mainColor;
      }
    }
  }